<strong>Olá, {{student}}!</strong>
        <p>Seja bem vindo à Gympoint!</p>
        <p>Sua saúde e felicidade são uma prioridade na sua vida agora?
        Estamos animados para ajudá-lo a atingir seus objetivos de saúde
        e fitness. Com a nossa experiência, profissionais dedicados
        e localizados na melhor região do bairro, sabemos que
        poderemos apoiá-lo na sua caminhada.
<p>Confira os detalhes abaixo.</p>
<p>
<strong>Plano: </strong>{{plan}}<br>
<strong>Data inicio: </strong>{{date_start}}<br>
<strong>Data Fim: </strong>{{date_end}}<br>
{{!-- <strong>Duração: </strong>{{duration}}<br> --}}
<strong>Valor Pago: </strong>{{price}}<br>
<br>
<small>Esperamos realmente vê-lo em breve!</small>
</p>
